{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- All Products -->

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h2 class="header-font text-black">Trades People</h2>
                <p class="text-black text-muted">Book Your Qualified Electrician</p>
                <hr class="block-divder">
            </div>
        </div>
    </section>
{% endblock %}
