{% extends 'base.html' %}
{% load static %}
{% load cart_calc_tool %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h2 class="header-font text-black">Shopping Cart</h2>
                <hr class="block-divder">
            </div>
        </div>

        <!-- Cart -->

        <div class="row">
            <div class="col-12">
                {% if cart_items %}
                    <div class="d-block d-md-none text-center">
                        <div class="row">
                            <div class="col">
                                {% include 'cart/cart-total.html' %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col my-2">
                                {% include 'cart/checkout-buttons.html' %}
                            </div>
                        </div>
                        {% for item in cart_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include 'cart/product-image.html' %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include 'cart/product-info.html' %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <p class="text-black">
                                        <span>
                                            Each: €{{ item.product.price }}
                                        </span>
                                        <!-- Remove from bag -->
                                        <span>
                                            <a class="delete-item text-decoration-none mx-2" id="delete_{{ item.item_id }}">
                                                <small class="text-red">
                                                    <span>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </span>
                                                </small>
                                            </a>
                                        </span>
                                    </p>
                                    <p class="text-black">Total: €{{ item.product.price | subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include 'cart/quantity-form.html' %}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="table-responsive rounded text-center d-none d-md-block">
                        <table class="table table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p2 w-25">
                                        {% include 'cart/product-image.html' %}
                                    </td>
                                     <td class="p2">
                                         {% include 'cart/product-info.html' %}
                                    </td>
                                    <td class="p2">
                                        <p class="my-0 text-black">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="p2">
                                        {% include 'cart/quantity-form.html' %}
                                    </td>
                                    <td class="p2">
                                        <p class="my-0 text-black">€{{ item.product.price | subtotal:item.quantity }}</p>
                                    </td>
                                    <td>

                                        <!-- Remove from bag -->
                                        <a class="delete-item text-decoration-none float-end" id="delete_{{ item.item_id }}">
                                            <small class="text-red">
                                                <span>
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </span>
                                            </small>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-end">
                                    {% include 'cart/cart-total.html' %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end pe-0">
                                    {% include 'cart/checkout-buttons.html' %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="text-black">You don't have anything in your cart.</p>
                    <a href="{% url 'products' %}" class="btn btn-lg my-2 btn-black text-black">
                        <span class="icon">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Back to top button -->
    <div class="btt-btn">
        <button id="btt" class="btn mx-auto my-auto">
            <span class="icon text-black">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </span>
        </button>
    </div>

{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'products/js/btt-button.js' %}"></script>
    {% include 'products/includes/quantity-input-script.html' %}
    {% include 'products/includes/quantity-update-script.html' %}
{% endblock %}