{% extends 'base.html' %}
{% load static %}
{% load cart_calc_tool %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h2 class="header-font text-black">Shopping Cart</h2>
                <hr class="block-divder">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if cart_items %}
                    <div class="table-responsive rounded text-center">
                        <table class="table table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p2 w-25">
                                        <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}" class="img-fluid rounded">
                                    </td>
                                     <td class="p2">
                                        <p class="my-0 text-black"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted text-black">Item No: {{ item.product.sku }}</p>
                                    </td>
                                    <td class="p2">
                                        <p class="my-0 text-black">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="p2">
                                        <form method="POST" action="{% url 'adjust_cart' item.item_id %}" class="form update-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">

                                                    <!-- Decrease quantity -->

                                                    <div class="input-group-prepend text-black">
                                                        <button class="btn btn-sm decrease-qty" data-item-id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                    </div>

                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item-id="{{ item.item_id }}"
                                                            id="id-qty-{{ item.item_id }}">

                                                    <!-- Increase quantity -->

                                                    <div class="input-group-append text-black">
                                                        <button class="btn btn-sm increase-qty" data-item-id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-qty text-decoration-none"><small>Update</small></a>
                                        <a class="delete-item text-decoration-none float-end" id="delete_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td class="p2">
                                        <p class="my-0 text-black">€{{ item.product.price | subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-end">
                                    <h6><strong>Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="text-red">
                                            Spend <strong>€{{ free_delivery_delta }}</strong> to secure free delivery!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end pe-0">
                                    <a href="{% url 'products' %}" class="btn btn-black">
                                        <span class="icon">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="#" class="btn btn-gold text-uppercase">
                                    <span class="text-uppercase">Checkout</span>
                                    <span class="icon">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="text-black">You don't have anything in your cart.</p>
                    <a href="{% url 'products' %}" class="btn btn-lg my-2 btn-black text-black">
                        <span class="icon">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                
            </div>
        </div>
       
    </section>

{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {% include 'products/includes/quantity-input-script.html' %}

    <script type="text/javascript">
        // Update qty
        $('.update-qty').click(function(e) {
            let form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item from cart
        $('.delete-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('delete_')[1];
            let url = `/cart/delete/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data).done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}