{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Hero carousel -->

    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner carouysel-container">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-1.jpg" class="d-block w-100" alt="Dining Room Light">
                                </div>
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-2.jpg" class="d-block w-100" alt="Dining Room Light">
                                </div>
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-3.jpg" class="d-block w-100" alt="Dining Room Light">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-4.jpg" class="d-block w-100" alt="Bedroom Light">
                                </div>
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-5.jpg" class="d-block w-100" alt="Bedroom Light">
                                </div>
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-6.jpg" class="d-block w-100" alt="Bedroom Light">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-7.jpg" class="d-block w-100" alt="Garden Light">
                                </div>
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-8.jpg" class="d-block w-100" alt="Garden Light">
                                </div>
                                <div class="col-4 g-0">
                                    <img src="{{ MEDIA_URL }}hero-image-9.jpg" class="d-block w-100" alt="Garden Light">
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="my-auto text-carousel rounded-3">
                <h1 class="display-6 text-uppercase header-font">
                    Bring your Ideas to <span class="text-gold">Light</span>
                </h1>
                <h4 class="text-center">
                    <a href="{% url 'products' %}" class="ease-in shop-now-btn btn btn-lg btn-gold rounded-3 text-uppercase">Shop Now</a>
                </h4>
            </div>
        </div>
    </section>

    <!-- About Company -->

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <h2 class="header-font text-black">Who we are</h2>
                <hr class="block-divder">
            </div>
            <div class="row mt-4">
                <div class="d-none d-md-block col-md-5">
                    <img src="{{ MEDIA_URL }}about-image.jpg" class="about-img rounded-3" alt="Many bulbs hanging from a ceiling">
                </div>
                <div class="col-12 col-md-7 text-center text-black">
                    <p><strong class="text-glow">Bright Ideas</strong> are in business since 2001, located just off the Naas Road. 
                       We are a family run business. Our sales team work together with the Architects,
                       Designers, Electrical Contractors and Landscape Gardeners to tailor a lighting
                       design concept based on Price, Style and Lead Time. We will provide the best advice
                       to cover the needs of many lighting styles suitable for projects, ranging from hotels,
                       apartments, and both commercial and domestic lighting. <strong class="text-glow">Bright Ideas</strong> have years
                       of experience in the lighting trade to help bring your ideas to life.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- reviews -->

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <h2 class="header-font text-black">What you say</h2>
                <hr class="block-divder">
            </div>
            <div class="row">
                <div class="col-6 col-md-4 text-center mb-3">
                    <blockquote class="blockqoute text-blockquote text-black">
                        <p>This is a little gem just off the Naas Road. It’s packed with lights lamps and shades.
                        Great design and a great range much larger shops would envy. A great friendly staff to help you choose.
                        Well worth a visit.</p>
                        <cite>
                            <img
                                class="reviews-image"
                                src="../media//review-1.jpg"
                                alt="Reviewer One"
                            />
                            Amelia-Rose Duncan
                        </cite>
                    </blockquote>
                </div>
                <div class="col-6 col-md-4 text-center text-blockquote mb-3">
                    <blockquote class="blockqoute text-blockquote text-black">
                        <p>Thank you to Lisa and all at Bright Ideas! So grateful for the advise choosing my new over
                        counter lights for my new kitchen. I Love them!
                        </p>
                        <cite>
                            <img
                                class="reviews-image"
                                src="../media//review-2.jpg"
                                alt="Reviewer Two"
                            />
                            Ted Donnelly
                        </cite>
                    </blockquote>
                </div>
                <div class="d-none d-md-block col-md-4 text-center text-blockquote mb-3">
                    <blockquote class="blockqoute text-blockquote text-black">
                        <p>Really nice lights, great choice, really friendly and lovely staff who go over and beyond
                            to make sure your happy with your choice of lights. Would highly recommend.
                        </p>
                        <cite>
                            <img
                                class="reviews-image"
                                src="../media//review-3.jpg"
                                alt="Reviewer Three"
                            />
                            Asha Richardson
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <!-- Promise -->

    <section class="container-fluid promise-container">
        <div class="row py-2">
            <div class="col-12 col-sm-4 text-center mt-2">
                <h4 class="header-font text-black">Free delivery</h4>
                <p class="text-muted text-promise">For orders over €{{ free_delivery }}</p>
            </div>
            <div class="col-12 col-sm-4 text-center mt-2">
                <h4 class="header-font text-black">Price Match Guarantee</h4>
                <p class="text-muted text-promise">You have found the product you like cheaper somewhere else?
                   We'll price match it!
                </p>
            </div>      
            <div class="col-12 col-sm-4 text-center mt-2">
                <h4 class="header-font text-black">Free Returns</h4>
                <p class="text-muted text-promise">Within 60 days</p>
            </div>
        </div>
    </section>
    
{% endblock %}