{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h2 class="header-font text-black">Thank you for your Custom</h2>
                <hr class="block-divder">
                <p class="text-black">A confirmation email has been sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Order No.</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.order_number }}</p>
                    </div>
                
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.date }}</p>
                    </div>
                
                </div>
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>{{ item.product.name }}</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p>{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivery Address:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Address</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Address <small>(cont)</small></p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p>{{ order.street_address2 }}</p>
                        </div>
                    </div>
                {% endif %}
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>County</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p>{{ order.county }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>PostCode</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.postcode }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Contact No.</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Details:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.order_total }}</p>
                    </div>
                </div>
                <!-- {% if order.delivery_cost %} -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-end">
                            <p>{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                <!-- {% endif %} -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Total Paid</p>
                    </div>
                    <div class="col-12 col-md-8 text-end">
                        <p>{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-end">
                <a href="{% url 'products' %}" class="btn btn-black my-2">
                    <span class="icon">
                        <i class="fas fa-box-open"></i>
                    </span>
                    <span class="text-uppercase">Forget something?</span>
                </a>
            </div>
        </div>
       
    </section>

{% endblock %}
