.order-history {
    max-height: 320px;
    overflow-y: auto;
}

#custom-form-style p {
    margin-top: 1.5rem;
    color: #1f1f1f;
}

#custom-form-style input,
#custom-form-style select,
#custom-form-style textarea {
    border-radius: .25rem;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#custom-form-style input:focus,
#custom-form-style select:focus,
#custom-form-style textarea:focus {
    border: 1px solid #1f1f1f;
    box-shadow: 1px 2px 4px #ffd700;
}

#custom-form-style input::placeholder,
#custom-form-style select::placeholder,
#custom-form-style textarea::placeholder {
    color: #ced4da;
}

#id_default_country {
    border-radius: .25rem;
    border: 1px solid #1f1f1f;
}

#id_default_country:focus {
    border: 1px solid #1f1f1f;
    box-shadow: 1px 2px 4px #ffd700;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #1f1f1f;
}

#id_default_country option:first-child {
    color: #ced4da;
}