/* clear browser defaults */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #fffafa;
    /* keep footer always at bottom */
    height:100vh;
    display:flex; 
    flex-direction:column; 
}

/* containers */
.nav-container {
    background-color: #fffafa;
    z-index: 1200;
}

.mobile-nav-icon {
    font-size: 0.8rem;
}

.header-container {
        padding-top: 145px;
    }

.carousel-container img {
    height: 750px;
}

.footer-container {
    background-color: #1f1f1f;
    color: #ffd700;
    /* Keep footer on bottom of page */
    margin-top:auto;
}

.promise-container {
    background-color: #e7e7e7;
}

/* Misc */

.header-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.block-divder {
    width: 60%;
    color: #1f1f1f;
    margin-left: 20%;
    box-shadow: 2px 2px #ffd700;
}

.text-carousel {
    position: absolute;
    top: 55%;
    left: 60%;
    z-index: 1030;
    color: #e8eded;
    background: rgba(31, 31, 31, 0.7);
    width: fit-content;
}

.about-img {
    max-width: 100%;
}

.clearance {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #d01114;
    position: absolute;
    top: 10px;
    right: 10px;
}

.clearance > span {
    padding-top: 28%;
    transform: rotate(45deg);
}

.trade-border {
    border: 1px solid #1f1f1f;
    box-shadow: 2px 2px #ffd700;
}

/* Styles from Bulma icon-text class https://bulma.io/documentation/elements/icon/ */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

/* Remove bootstrap default styles */

ul.text-lg-end {
    margin-bottom: 0;
}

.dropdown-toggle::after {
    display: none;
}

select.form-select:active,
select.form-select:focus {
    box-shadow: none;
    border-color: #1f1f1f;
}

.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #1f1f1f;
    box-shadow: 1px 2px 4px #ffd700;
}

div.toast-container {
    z-index: 9999;
}

/* colors */

.text-gold {
    color: #ffd700;
    font-weight: 500;
}

.text-black {
    color: #1f1f1f;
}

.text-snow {
    color: #fffafa;
}


.text-red,
/* Override custom-form-style  */
p#file-name.text-red {
    color: #d01114;
}

a.text-gold:hover,
a.text-gold:active {
    color: #e8eded;
}

.text-glow {
    text-shadow: 2px 1px #ffd700;
}

.text-blockquote,
.text-promise {
    font-size: 1rem;
    font-weight: 300;
}

.bg-gold {
    background-color: #ffd700;
}

.bg-black {
    background-color: #1f1f1f;
}

.bg-red {
    background-color: #d01114;
}

.bg-blue {
    background-color: #176087;
}

.bg-warn {
    background-color: #ff7400;
}

/* Buttons */

.btn-gold {
    background-color: #ffd700;
}

.btn-gold:hover,
.btn-gold:active {
    background-color: #1f1f1f;
    border: 1px solid #ffd700;
    color: #ffd700;
    box-shadow: 1px 2px #ffd700;
}

.btn-black {
    background-color: #1f1f1f;
    color: #ffd700;
}

.btn-black:hover,
.btn-black:active {
    background-color: #ffd700;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    box-shadow: 1px 2px #1f1f1f;
}

.btn-blue {
    background-color: #176087;
    color: #ffd700;
}

.btn-blue:hover,
.btn-blue:active {
    background-color: #ffd700;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    box-shadow: 1px 2px #1f1f1f;
}

.btn-red {
    background-color: #d01114;
    color: #ffd700;
}

.btn-red:hover,
.btn-red:active {
    background-color: #ff0004;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    box-shadow: 1px 2px #1f1f1f;
}

/* Back to top button */

.btt-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.btt-btn > button:hover,
.btt-btn > button:focus,
.btt-btn > button:active {
    box-shadow: none;
}

h4 a.btn-gold {
    width: fit-content;
}

.ease-in {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}

.reviews-image {
    border-radius: 50%;
}

.show-details {
    display: block;
}

.hide-details {
    display: none;
}

.update-qty,
.delete-item {
    cursor: pointer;
}

/* Allauth */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #1f1f1f;
}

.allauth-form-inner-content input {
    border-radius: .25rem;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.allauth-form-inner-content input:focus {
    border: 1px solid #1f1f1f;
    box-shadow: 1px 2px 4px #ffd700;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #ced4da;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.form-check-input {
    border-color: #1f1f1f;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #1f1f1f;
}

.form-check-input:checked {
    box-shadow: none;
    color: #1f1f1f;
    background-color: #d01114;
    border-color: #1f1f1f;
}


/* Media Queries */

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .carousel-container img {
        height: 640px;
    }

    .text-carousel {
    top: 45%;
    left: 55%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-container img {
    height: 490px;
    }

    .text-carousel {
    top: 35%;
    left: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-container {
        padding-top: 125px;
    }

    .carousel-container img {
        height: 430px;
    }

    .text-carousel {
    top: 30%;
    left: 40%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .header-container {
        padding-top: 160px;
    }

    .carousel-container img {
        height: 430px;
    }
}

@media screen and (max-width: 575px) {
    .mobile-nav-icon {
        font-size: 0.8rem;
    }

    .main-logo-mobile {
        padding-left: 0.1rem;
    }

    a.nav-link {
        padding: 0.1rem;
    }

    .carousel-container img {
        height: 430px;
    }

    div.form-group.w-50 {
        width: 100% !important;
    }
}