/* colors */
/* 
white: #fffafa;
gold: #ffd700;
black: #1f1f1f;
blue: #176087;
red: #d01114;
grey: #e8eded;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #fffafa;
}

.nav-container {
    background-color: #fffafa;
    z-index: 9999;
}

.carousel-container {
    max-height: 80vh;
}

.footer-container {
    background-color: #1f1f1f;
    color: #ffd700;
}

.promise-container {
    background-color: #e7e7e7;
}

.block-divder {
    width: 60%;
    color: #1f1f1f;
    margin-left: 20%;
    box-shadow: 2px 2px #ffd700;
}

.header-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.text-carousel {
    position: absolute;
    top: 50%;
    left: 55%;
    z-index: 1030;
    color: #e8eded;
    background: rgba(31, 31, 31, 0.7);
    width: fit-content;
}

.about-img {
    max-width: 100%;
}

/* Styles from Bulma icon-text class https://bulma.io/documentation/elements/icon/ */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

/* Remove bootstrap default styles */
ul.text-lg-end {
    margin-bottom: 0;
}

.dropdown-toggle::after {
    display: none;
}

select.form-select:active,
select.form-select:focus {
    box-shadow: none;
    border-color: #1f1f1f;
}

/* colors */

.text-gold {
    color: #ffd700;
}

.text-black {
    color: #1f1f1f;
}

a.text-gold:hover,
a.text-gold:active {
    color: #e8eded;
}

.btn-gold {
    background-color: #ffd700;
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus {
    background-color: #1f1f1f;
    border: 1px solid #ffd700;
    color: #ffd700;
    box-shadow: 1px 2px #ffd700;
}

.btn-black {
    background-color: #1f1f1f;
    color: #ffd700;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color: #ffd700;
    border: 1px solid #1f1f1f;
    color: #1f1f1f;
    box-shadow: 1px 2px #1f1f1f;
}

/* Back to top button */
.btt-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.btt-btn > button:hover,
.btt-btn > button:focus,
.btt-btn > button:active {
    box-shadow: none;
}

h4 a.btn-gold {
    width: fit-content;
}

.ease-in {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}

.text-glow {
    text-shadow: 2px 1px #ffd700;
}

.text-blockquote,
.text-promise {
    font-size: 1rem;
    font-weight: 300;
}

.reviews-image {
    border-radius: 50%;
}

.show-details {
    display: block;
}

.hide-details {
    display: none;
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 130px;
    }
}