<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle header-font text-black text-glow" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="all-products-link">
            <li><a class="dropdown-item" href="#">By Price</a></li>
            <li><a class="dropdown-item" href="#">By Rating</a></li>
            <li><a class="dropdown-item" href="#">By Category</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
          </ul>
        </li>

        <!-- Interior Lighting -->

        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle header-font text-black text-glow" href="#" id="interior-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Interior Lights
          </a>
          <ul class="dropdown-menu" aria-labelledby="interior-link">
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=dining_room_lighting">Dining Room</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=bedroom_lighting">Bedroom Lights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=bathroom_lighting">Bathroom Lights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=kitchen_lighting">Kitchen Lights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=floor_lamp">Floor Lamps</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=table_lamp">Table Lamps</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'products' %}?category=dining_room_lighting,bedroom_lighting,bathroom_lighting,kitchen_lighting,floor_lamp,table_lamp">
                   All Interior Lights
                </a>
            </li>
          </ul>
        </li>

        <!-- Outdoor Lighting -->

        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle header-font text-black text-glow" href="#" id="exterior-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Outdoor Lighting
          </a>
          <ul class="dropdown-menu" aria-labelledby="exterior-link">
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=outdoor_ceiling_light">Outdoor Ceiling Lights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=outdoor_wall_light">Outdoor Wall Lights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=outdoor_recessed_lighting">Outdoor Ground Spotlights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=outdoor_sensor_lighting">Outdoor Sensor Lights</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'products' %}?category=solar_lighting">Solar Lights</a>
            </li>
            <li>
                <a class="dropdown-item" 
                   href="{% url 'products' %}?category=outdoor_ceiling_light,outdoor_wall_light,outdoor_recessed_lighting,outdoor_sensor_lighting,solar_lighting">
                   All Outdoor Lights
                </a>
            </li>
          </ul>
        </li>

        <!-- Bulbs -->

        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle header-font text-black text-glow" href="#" id="bulbs-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bulbs
          </a>
          <ul class="dropdown-menu" aria-labelledby="bulbs-link">
            <li><a class="dropdown-item" href="{% url 'products' %}?category=led_bulb">LED Bulbs</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=halogen_bulb">Halogen Bulbs</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}?category=led_bulb,halogen_bulb">All Bulbs</a></li>
          </ul>
        </li>

        <!-- Special Offers -->

        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle header-font text-black text-glow" href="#" id="specials-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Special Offers
          </a>
          <ul class="dropdown-menu" aria-labelledby="specials-link">
            <li><a class="dropdown-item" href="#">Clearance</a></li>
            <li><a class="dropdown-item" href="#">Multipack Bulbs</a></li>
            <li><a class="dropdown-item" href="#">All Deals</a></li>
          </ul>
        </li>
    </ul>
</div>