<!-- Logo/home link -->

<li class="list-inline-item mobile-nav-icon">
    <a href="{% url 'home' %}" class="text-decoration-none d-block d-lg-none">
        <span>
            <img src="{{ MEDIA_URL }}bright-ideas-logo-mobile.png" alt="Bright Ideas Logo" class="main-logo-mobile">
        </span>
    </a>
</li>



<!-- User Profile -->

<li class="list-inline-item dropdown">
    <a class="nav-link dropdown-toggle d-block d-lg-none" href="#" id="user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="text-center mobile-nav-icon">
            <span class="text-center icon text-black">
                <i class="fas fa-user-alt fa-lg"></i>
            </span>
            <p class="my-0 text-black">My Profile</p>
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="user-dropdown">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'add_products' %}">Project Management</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'tradespeople' %}">Tradespeople</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</li>

<!-- Cart -->

<li class="list-inline-item">
    <a href="{% url 'view_cart' %}" class="nav-link d-block d-lg-none">
        <div class="text-center mobile-nav-icon">
            <span class="icon text-black">
                <i class="fas fa-shopping-cart fa-lg"></i>
            </span>
            <p class="my-0 text-black">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>

<!-- Mobile Search -->

<div class="container d-block d-lg-none py-2">
    <div class="row">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group my-auto">
                <input type="text" placeholder="Search..." name="q" class="form-control border border-1 rounded-pill">
                <button type="submit" class="form-control btn float-end">
                    <span class="icon text-glow">
                        <i class="fas fa-search"></i>
                    </span> 
                </button>
            </div>
        </form>
    </div>
</div>