{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 mb-4 offset-3">
            <div class="allauth-form-inner-content">
                {% block extra_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}