{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_content %}
    <hr class="block-divder">
    <h2 class="text-center text-uppercase header-font text-black">{% trans "Change Password" %}</h2>
    <hr class="block-divder">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn btn-gold">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="btn btn-black">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
