{% extends 'base.html' %}
{% load static %}

{% block extra_title %}404 Page Not Found{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container">
       <div class="row">
           <div class="col text-center">
               <div class="col">
                   <img src="{{ MEDIA_URL }}error-page-image.png" alt="Turned off cartoon light bulb" />
               </div>
               <h3>The Lights are off!</h3>
                <p class="text-black">Sorry we couldn't find what you were looking for!</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn-black">
                    <span class="icon">
                        <i class="fa fa-lightbulb" aria-hidden="true"></i>
                    </span>
                    <span class="text-uppercase">
                        Back to the light
                    </span>
                </a>
           </div>
       </div>
    </section>

{% endblock %}
