{% extends 'base.html' %}
{% load static %}

{% block extra_title %}500 Server Error{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container">
       <div class="row">
           <div class="col text-center">
               <div class="col">
                   <img src="{{ MEDIA_URL }}error-page-image.png" alt="Turned off cartoon light bulb" />
               </div>
               <h3>Oopps!</h3>
                <p class="text-black">There appears to be an error with this page</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn-black">
                    <span class="icon">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </span>
                    <span>
                        Go back to the light
                    </span>
                </a>
           </div>
       </div>
    </section>

{% endblock %}
