{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@500;600;700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" 
            crossorigin="anonymous" />
            
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="media/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon-16x16.png">
        <link rel="manifest" href="media/favicon/site.webmanifest">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Bright Ideas {% block extra_title %}{% endblock %}</title>

</head>

<body>

    <!-- Header -->

    <header class="container-fluid nav-container fixed-top">
        <div id="topnav" class="row d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <a href="{% url 'home' %}" class="text-decoration-none main-logo">
                    <span><img src="../media/bright-ideas-logo.png" alt="Bright Ideas Logo"></span>
                </a>
            </div>

            <!-- Search -->

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input type="text" placeholder="Search.." name="q" class="form-control border border-1 rounded-pill">
                        <div class="m-0">
                            <button type="submit" class="form-control btn">
                                <span class="icon"><i class="fas fa-search"></i></span> 
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- User Profile -->

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-end">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center">
                                <div class="text-center icon text-black">
                                    <i class="fas fa-user-alt fa-lg"></i>
                                </div>
                                <p class="my-0 text-black">My Profile</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="user-dropdown">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="#">Project Management</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Tradespeople</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    <!-- Cart -->

                    <li class="list-inline-item">
                        <a href="{% url 'view_cart' %}" class="nav-link">
                            <div class="text-center">
                                <div class="icon text-black"><i class="fas fa-shopping-cart fa-lg"></i></div>
                                <p class="my-0 text-black">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#main-nav" 
                        aria-controls="main-nav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
        <div class="toast-container position-absolute top-0 end-0 p-3">
            {% for message in messages %}
                {% include 'includes/toasts/toast-success.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    <footer class="container-fluid text-center pb-2 footer-container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="row">
                    <a 
                    href="https://www.google.com/maps/place/National+Lighting/@53.3257169,-6.3608587,15z/data=!4m5!3m4!1s0x0:0xec50d0722853e6f6!8m2!3d53.3257169!4d-6.3608587"
                    class="text-decoration-none text-gold ease-in"
                    target="_blank">
                        <div class="col-12">
                            <div class="icon text-gold">
                                <i class="fas fa-map-marker-alt fa-lg"></i>
                            </div> 
                        </div>
                        <div class="col-12">
                            Knockmitten Ln,
                        </div>
                        <div class="col-12">
                            Fox-And-Geese Common,
                        </div>
                        <div class="col-12">
                            Dublin 12,
                        </div>
                        <div class="col-12">
                            D12 E7VP
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <p><strong>Follow Us:</strong></p>
                    </div>
                    <div class="col-12">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/lights.ie/" class="text-decoration-none text-gold ease-in" target="_blank">
                                    <span class="icon">
                                        <i class="fab fa-facebook fa-lg"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/lights.ie/" class="text-decoration-none text-gold ease-in" target="_blank">
                                    <span class="icon">
                                        <i class="fab fa-instagram fa-lg"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://nl.pinterest.com/lampandlightie/_created/" class="text-decoration-none text-gold ease-in" target="_blank">
                                    <span class="icon">
                                        <i class="fab fa-pinterest fa-lg"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <div class="text-uppercase">Store Opening Hours</div>
                        <div class="col-12"><strong>Monday - Friday</strong>: 9am - 6pm</div>
                        <div class="col-12"><strong>Saturday</strong>: 10am - 5pm</div>
                        <div class="col-12"><strong>Sunday</strong>: 12pm - 5pm</div>
                        <div class="col-12"><strong>Call</strong>: 01-5557878</div>
                        <div class="col-12">
                            <a href="mailto:brightideas27@gmail.com" class="text-decoration-none text-gold ease-in">brightideas27@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    {% block corejs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" 
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous">
        </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block postload_js %}
    <script type="text/javascript">
        $('.toast').toggle('show');
    </script>
    {% endblock %}

</body>

</html>