{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h2 class="header-font text-black">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr class="block-divder">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="POST" action="{% url 'add_products' %}" class="form mb-2" id="custom-form-style" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-end">
                    <a href="{% url 'products' %}" class="btn btn-red">Cancel</a>
                    <button class="btn btn-gold" type="submit">Add Product</button>
                </div>
                </form>
            </div>
        </div>
             
    </section>

{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#file-name').text(`Image will be set to: ${file.name}`)            
        });
    </script>
{% endblock %}