{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Delete Confirmation -->

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h3 class="header-font text-black">Delete {{ product.name }}</h3>
                <hr class="block-divder">
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 text-center mt-5">
                <h3 class="header-font text-black">Are you sure you want to delete {{ product.name }}?</h3>
                <form class="mt-4" method="POST" action="{% url 'delete_product' product.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-lg btn-red m-2">
                    <a href="{% url 'product_item' product.id %}" class="btn btn-lg btn-black m-2">Cancel</a>
                </form>
            </div>
        </div>
    </section>
    
{% endblock %}
