{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Single Product -->

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h3 class="header-font text-black">{{ product.name }}</h3>
                <hr class="block-divder">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12 col-lg-6">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                    </a>
                {% else %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ MEDIA_URL }}products/no-image.jpg" alt="{{ product.name }}" class="card-img-top img-fluid">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6">
                <div class="col">
                    <p>€{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted">{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>

                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-2 text-black"><strong>Quantity: </strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input 
                                        type="number" 
                                        id="id-qty-{{ product.id }}"
                                        class="form-control qty_input" 
                                        name="quantity" 
                                        value="1" 
                                        min="1" 
                                        max="99" 
                                        data-item-id="{{ product.id }}"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <a href="{% url 'products' %}" class="btn btn-black">
                            <span class="icon">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </span>
                        <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <button type="submit" class="btn btn-gold text-uppercase">
                            <span class="text-uppercase">Add to Cart</span>
                            <span class="icon">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>

        <!-- Item details toggle -->
        
        <div class="row my-2 py-1">
            <p>
                <button class="btn btn-gold p-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#description" aria-expanded="false" aria-controls="description">Description</button>
                <button class="btn btn-black p-2" type="button" data-bs-toggle="collapse" data-bs-target="#details" aria-expanded="false" aria-controls="details">Additional Information</button> 
            </p>
            <div class="row">
                <div class="col collapse" id="description">
                    <div class="card card-body">
                        <div class="col-12">
                            {% if product.description %}
                                <p>{{ product.description }}</p>
                            {% else %}
                                <p>Sorry, no details available at this time.</p>
                            {% endif %}
                        </div>
                        </div>
                </div>
                
                <div class="col collapse" id="details">
                    <div class="card card-body">
                        <div class="col-12">
                            {% if product.ip_rating %}
                                <p>IP Rating: {{ product.ip_rating }}</p>
                            {% endif %}
                            {% if product.bulb_type %}
                                <p>Bulb Type: {{ product.bulb_type }}</p>
                            {% endif %}
                            {% if product.dimmable %}
                                <p>Dimmable: {{ product.dimmable }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
