{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- All Products -->

    <section class="container">
        <div class="row">
            <div class="col-12 text-center text-uppercase py-1 mt-4">
                <hr class="block-divder">
                <h2 class="header-font text-black">Products</h2>
                <hr class="block-divder">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-muted text-md-end text-center">
                    {% if search or current_categories or current_sorting != 'None_None' %}
                        <span class="small text-black"><a href="{% url 'products' %}" class="text-decoration-none text-black">All Products</a> |</span>
                    {% endif %}
                    <span class="small text-black">{{ products|length }} Products{% if search %} found <strong>"{{ search }}"</strong>{% endif %}</span>
                </p>
            </div>
        </div>
        
        <!-- Sort products -->
        <div class="row">
            <div class="col-2 offset-10 mb-2">
                <select class="form-select text-black" id="sort-box" aria-label="Default select example">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price: Low - High</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price: High - Low</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating: Low - High</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating: High - Low</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name: A - Z</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name: Z - A</option>
                </select>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 my-4">
                    <div class="card h-100 border-1">
                        {% if product.is_clearance %}
                            <span class="clearance small d-flex justify-content-center">
                                <span class="text-uppercase text-gold">Sale!</span>
                            </span>
                        {% endif %}
                        {% if product.image_url %}
                            <a href="{% url 'product_item' product.id %}">
                                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% elif product.image %}
                            <a href="{% url 'product_item' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% else %}
                            <a href="{% url 'product_item' product.id %}">
                                <img src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="header-font text-black text-glow">{{ product.name }}</h5>
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-black my-2">€{{ product.price }}</p>
                                    {% if product.rating %}
                                        <small class="text-muted">{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    </section>
    
    <!-- Back to top button -->
    <div class="btt-btn">
        <button id="btt" class="btn mx-auto my-auto">
            <span class="icon text-black">
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'products/js/btt-button.js' %}"></script>
    <script type="text/javascript">

        $('#sort-box').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let sortVal = selector.val();
            if(sortVal != "reset"){
                let sort = sortVal.split("_")[0];
                let direction = sortVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}